td {
  border-bottom: 1px solid #fbfbfb;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;

}

td.b1 {
  background-image: -webkit-linear-gradient(right, #229800, #229844);
  background-image: -moz-linear-gradient(right, #229800, #229844);
  background-image: linear-gradient(right, #229800, #229844);
  background-position: left top;
}

td.b2 {
  background-image: -webkit-linear-gradient(right, #666666, #666666);
  background-image: -moz-linear-gradient(right, #666666, #666666);
  background-image: linear-gradient(right, #666666, #666666);
  background-position: left top;
}

td:numb {
}