{% extends 'layout.html' %}

{% block body %}
    <h1>Новый справочник</h1>
    {% from "includes/_formtamplate.html" import form_render %}
    <div class="row">
        <div class="col-6">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form_render(form) }}
                <div class="form-group">
                    <label for="exampleFormControlFile1">*Данные в формате .xlsx</label>
                    <input type="file" name="file" class="form-control-file">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Замена данных
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="2">
                  <label class="form-check-label" for="exampleRadios2">
                    Добавление новых
                  </label>
                </div>
                <p>
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                    <a class="btn btn-link" onclick="javascript:history.back(-2); return false;">Отменить</a>
                </p>

            </form>
        </div>
    </div>
{% endblock %}

