{% extends 'layout.html' %}

{% block body %}
    <a class="text-secondary" href="/reports">Отчеты</a><br>
    &#8595;
    <div class="row">
      <div class="col-10">
          <h1>{{ report[0][1] }}</h1>
      </div>
    <div class="col-2">
      <form action="{{url_for('reports.delete_report', id=report[0][0])}}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
      </form>
    </div>
    </div>

    <p  class="lead">{{ report[0][2] }}</p>
    <a class="btn btn-outline-primary" href="/edit_report/{{ report[0][0] }}"><i class="fas fa-pencil-alt"></i> Редактировать</a>

    <hr>
    <p>Пока таких нет</p>

{% endblock %}
