{% extends 'layout.html' %}

{% block body %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
            console.log($('.js-example-basic-multiple'))
        });
    </script>
    <h1>Ассоциации</h1>
    {{ measure }}
    {% from "includes/_formtamplate.html" import form_render %}
    <div class="row">
        <div class="col-6">
            <form method="POST" action="">
                {{ form_render(form) }}
                <select class="js-example-basic-multiple" name="states[]" multiple="multiple">
                  <option value="AL">Alabama</option>
                  <option value="WY">Wyoming</option>
                </select>
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                    <a class="btn btn-link" onclick="javascript:history.back(-2); return false;">Отменить</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}