{% extends 'layout.html' %}

{% block body %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
            console.log($('.js-example-basic-multiple'))
        });
    </script>
    <a class="text-secondary" href="/data_area/{{ measure[0][3] }}">{{ measure[0][22] }}</a><br>
    &#8595;
    <br>
    <a class="text-secondary" href="
        {% if measure[0][4] == 1 %}
            data_area/{{ measure[0][3] }}/measure_quantitative/{{ measure[0][0] }}/
        {% elif measure[0][4] == 2 or measure[0][4] == 3 %}
            data_area/{{ measure[0][3] }}/measure_qualitative/{{ measure[0][0] }}/
        {% elif measure[0][4] == 4 or measure[0][4] == 5 or measure[0][4] == 6 %}
            data_area/{{ measure[0][3] }}/measure_time/{{ measure[0][0] }}/
        {% endif %}
        ">{{ measure[0][2] }}</a><br>
    &#8595;
    <h1>Ассоциации</h1>
    {% from "includes/_formtamplate.html" import form_render %}
    <div class="row">
        <div class="col-6">
            <form method="POST" action="">
                {{ form_render(form) }}
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                    <a class="btn btn-link" onclick="javascript:history.back(-2); return false;">Отменить</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}