{% extends 'layout.html' %}

{% block body %}
<h1>Сложные связи</h1>
<h3>Нагадала</h3>
<div class="list-group">
    {% for i in auto_models %}
      <a href="complex_model/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ i[1] }}</h5>
        </div>
      </a>
    {% endfor %}
    </div>
<br>
<br>
<h3>Пользовательские модели</h3>
<div class="list-group">
    {% for i in user_models %}
      <a href="complex_model/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ i[1] }}</h5>
        </div>
      </a>
    {% endfor %}
    </div>
<br>
<br>



{% endblock %}