{% extends 'layout.html' %}

{% block body %}
  <h1>Сводка </h1>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-secondary" href="/refs">Справочники</a>
    <a class="btn btn-secondary" href="/data_areas">Предметые области</a>
  </div>
  <hr>
<div class="card-deck">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Предметные области</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Простые связи</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  <div class="card text-white bg-dark" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Сложные связи</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark">Cras justo odio</li>
    <li class="list-group-item bg-dark">Dapibus ac facilisis in</li>
    <li class="list-group-item bg-dark">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>

{% endblock %}