{% extends 'layout.html' %}

{% block body %}
  <h1>Сводка </h1>
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" href="/add_data_area"><i class="fas fa-plus"></i> Добавить новую предметную область</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/refs">Справочники</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/units_of_measurement">Единицы измерений</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/associations">Ассоциации</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/data_log">Загрузки</a>
  </nav>
  <hr>
<div class="row">
  <div class="col-sm-4">
  <div class="card bg-light">
  <div class="card-body">
    <a href="/data_areas" class="card-link"><h5 class="card-title">Предметные области</h5></a>
  </div>
  <ul class="list-group list-group-flush">
    {% for i in data_areas %}
      <li class="list-group-item bg-light"><a href="data_area/{{ i[0] }}" class="card-link text-dark">{{ i[1] }}</a></li>
    {% endfor %}
  </ul>
</div>
  </div>
  <div class="col-sm-4">
  <div class="card text-white bg-dark">
  <div class="card-body">
    <a href="/complex_models" class="card-link"><h5 class="card-title">Простые связи</h5></a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark">Количество фондов, Количество с картинками, Всего картинок</li>
    <li class="list-group-item bg-dark">Dapibus ac facilisis in</li>
    <li class="list-group-item bg-dark">Vestibulum at eros</li>
  </ul>
</div>
    </div>
    <div class="col-sm-4">
  <div class="card text-white bg-dark">
  <div class="card-body">
     <a href="/complex_models" class="card-link"><h5 class="card-title">Сложные связи</h5></a>
  </div>
  <ul class="list-group list-group-flush">
        {% for i in auto_models %}
      <li class="list-group-item bg-dark"><a href="complex_model/{{ i[0] }}" class="card-link text-white">{{ i[1] }}</a></li>
    {% endfor %}
  </ul>

</div>
      </div>
</div>

{% endblock %}