{% extends 'layout.html' %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboard">Сводка</a></li>
    <li class="breadcrumb-item"><a href="/data_areas">Предметные области</a></li>
  </ol>
</nav>

<div class="row">
  <div class="col-10">
      <h1>{{ data_area[1] }}</h1>
  </div>
<div class="col-2">
  <form action="{{url_for('data_areas.delete_data_area', id=data_area[0])}}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
  </form>
</div>
</div>

<p  class="lead">{{ data_area[2] }}</p>

<a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Добавить параметр
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_to_{{ data_area[0] }}">Мера</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_time_to_{{ data_area[0] }}">Время</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_mref_to_{{ data_area[0] }}">Справочник</a>
</div>

<a class="btn btn-outline-secondary" href="/edit_data_area/{{ data_area[0] }}"><i class="fas fa-pencil-alt"></i> Редактировать</a>



<hr>
<h3>
  {% if data_area[4] == '1' %}
    <span class="badge badge-light">Нет данных</span>
    <a class="btn btn-outline-secondary btn-sm" href="/upload_data_area_from_file/{{ data_area[0] }}">
        <i class="fas fa-cloud-upload-alt"></i> Загрузить данные из файла
    </a>
  {% elif data_area[4] == '2' %}
    <span class="badge badge-secondary">Ожидает обработки</span>
    {% elif data_area[4] == '3' %}
    <span class="badge badge-warning">Обрабатывается</span>
    {% elif data_area[4] == '4' %}
    <span class="badge badge-danger">Данных не достаточно для анализа</span>
    <a class="btn btn-outline-secondary btn-sm" href="/upload_data_area_from_file/{{ data_area[0] }}">
        <i class="fas fa-cloud-upload-alt"></i> Загрузить данные из файла
    </a>
    {% elif data_area[4] == '5' %}
    <span class="badge badge-warning">Поиск связей</span>
    {% elif data_area[4] == '6' %}
    <span class="badge badge-success">Обработано</span>
    <a class="btn btn-outline-secondary btn-sm" href="/upload_data_area_from_file/{{ data_area[0] }}">
        <i class="fas fa-cloud-upload-alt"></i> Загрузить данные из файла
    </a>
  {% endif %}
</h3>




{% endblock %}
