{% extends 'layout.html' %}

{% block body %}
<a class="text-secondary" href="/data_areas">Предметные области</a><br>
&#8595;

<div class="row">
  <div class="col-10">
      <h1>{{ data_area[1] }}</h1>
  </div>

<div class="col-2">
    {% if measures == []%}
    <a class="btn btn-link float-right text-danger" href="/delete_data_area?id={{data_area[0]}}"><i class="far fa-trash-alt"></i></a>
    {% else %}
    <i class="far fa-trash-alt float-right text-secondary" title="Сперва удалите все параметры"></i>
    {% endif %}
</div>
</div>

<p  class="lead">{{ data_area[2] }}</p>

<a class="btn btn-outline-secondary " href="/edit_data_area/{{ data_area[0] }}">
    <i class="fas fa-pencil-alt"></i> Редактировать
</a>

<hr>

{% if measures == []%}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Отлично!</h4>
    <br>
  <p>1. Для начала укажите с какими параметрами мы будем работать</p>
  <hr>
  <p class="mb-0">2. После можно загрузить данные из файла в формате XLCX</p>
    <hr>
  <p class="mb-0">3. Дождаться обработки и начать работу с результатами</p>
</div>
{% else %}
{% if log_status == '1' or  log_status == '4' or log_status == '6'%}
<a class="btn btn-outline-secondary" href="/upload_data_area_from_file/{{ data_area[0] }}">
        <i class="fas fa-cloud-upload-alt"></i> Загрузить данные из файла
    </a>

{% endif %}
{% endif %}
<a href="/data_area_log/{{ data_area[0]}}" class="btn btn-link float-right">Посмотреть историю загрузок</a>
{% if log_status == '1' or  log_status == '4' or log_status == '6'%}
<a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Добавить параметр
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_1" title="Данные выраженные в числах">Количественные данные</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_2" title="Данные в текстовом виде">Качественные  данные</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_3" title="Данные по справочнику">Данные по справочнику</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_4" title="Данные в формате часы:мунуты:секунды">Время</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_5" title="Данные в формате день.месяц.год">Дата</a>
    <a class="dropdown-item" href="/data_area/{{ data_area[0] }}/add_measure_type_6" title="Данные в формате день.месяц.год часы:мунуты:секунды">Время и дата</a>
</div>
{% endif %}
<br><br>
  {% if log_status == '2' %}
<div class="row">
    <div class="col-10">
    <div class="alert alert-secondary" role="alert">
      Ожидает обработки
    </div>
    </div>
    <div class="col-2">
        <form action="{{url_for('data_areas.delete_data_log', id=last_log[0], data_area_id=data_area[0], context = 'data_area')}}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Отменить" class="btn btn-link float-right text-danger">
        </form>
    </div>
</div>
    {% elif log_status == '3' %}
    <div class="alert alert-warning" role="alert">
      Обрабатывается
    </div>
    {% elif log_status == '4' %}
    <div class="alert alert-danger" role="alert">
      Данных не достаточно для анализа
    </div>
    {% elif log_status == '5' %}
    <div class="alert alert-warning" role="alert">
      Поиск связей
    </div>
    {% elif log_status == '6' %}
    <div class="alert alert-success" role="alert">
      Обработано. Загружено строк: {{ last_log[3] }}. Строки с ошибками: {{ last_log[2] }}. Время: {{ last_log[6] }}.
        <a href="/error_files/{{ filename }}" download="">Скачать отчет</a>
    </div>
  {% endif %}
<br>
<br>

<table class="table">
  <tbody>
  {% for i in measures %}
    <tr>
        <td>

            <b><a href="/measure/{{ i[0] }}">{{ i[2] }}</a></b><br>{{ i[1] }}
        </td>
        <td>
            {{ i[3] }}
        </td>
        {% if log_status == '1' or  log_status == '4' or log_status == '6'%}
        <td>
            <a class="btn btn-outline-secondary right" href="/data_area/{{data_area[0]}}/edit_measure_{{ i[0] }}">
                <i class="fas fa-pencil-alt"></i> Редактировать
            </a>
        </td>
        <td>
            <form action="{{url_for('measures.delete_data_measure', measure_id=i[0], data_area_id=data_area[0], olap_name=data_area[5], column_name=i[1])}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
            </form>
        </td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}
