{% extends 'layout.html' %}

{% block body %}
<a class="text-secondary" href="/data_areas">Предметные области</a><br>
&#8595;<br>
<a class="text-secondary" href="/data_area/{{ data_area[0] }}">{{ data_area[1] }}</a><br>
&#8595;
<div class="row">
  <div class="col-10">
      <h1>История загрузки данных</h1>
  </div>
<br><br><br>

<table class="table">
    <thead>
    <tr>
      <th scope="col">Статус</th>
      <th scope="col">Ошибок</th>
      <th scope="col">Загуржено</th>
      <th scope="col">Время загрузки</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for i in log %}
    <tr>
        <td>
              {% if i[5] == '2' %}
                    <span class="badge badge-light">Ожидает обработки</span>
                {% elif i[5] == '3' %}
                    <span class="badge badge-warning">Обрабатывается</span>
                {% elif i[5] == '4' %}
                    <span class="badge badge-danger">Данных не достаточно для анализа</span>
                {% elif i[5] == '5' %}
                    <span class="badge badge-info">Поиск связей</span>
                {% elif i[5] == '6' %}
                    <span class="badge badge-success">Обработано</span>
            {% endif %}

        </td>
        <td>
            {{ i[2] }}
        </td>
        <td>
            {{ i[3] }}
        </td>
        <td>
            {{ i[6] }}
        </td>
        <td>
        {% if i[5] == '2' %}
                <form action="{{url_for('data_areas.delete_data_log', id=i[0], data_area_id=i[1], context = 'data_area_log')}}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
                </form>
            {% endif %}
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}