{% extends 'layout.html' %}

{% block body %}
    <a class="text-secondary" href="/data_area/{{ measure[0][3] }}">{{ measure[0][23] }}</a><br>
    &#8595;
    <h1>{{ measure[0][2] }}</h1>
    <p>{{ measure[0][1] }}, Количественные данные</p>
    {% if data %}
    <div class="row">

      <div class="col-md-9 ">
          <br>
          <h4>График распределения</h4>

          <!--Load the AJAX API-->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var arr  = {{ data|safe }};
              arr.unshift(["Element", "Density", { role: "style" } ]);

              var data = google.visualization.arrayToDataTable(arr);

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1,
                               { calc: "stringify",
                                 sourceColumn: 1,
                                 type: "string",
                                 role: "annotation" },
                               2]);

              var options = {
                title: "Частотное распределение",
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
              chart.draw(view, options);
          }
          </script>

        <script type="text/javascript">
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var arr  = {{ data_ka|safe }};
              arr.unshift(["Element", "Density", { role: "style" } ]);

              var data = google.visualization.arrayToDataTable(arr);

              var view = new google.visualization.DataView(data);
              view.setColumns([0, 1,
                               { calc: "stringify",
                                 sourceColumn: 1,
                                 type: "string",
                                 role: "annotation" },
                               2]);

              var options = {
                title: "Распределение накопленных частот",
                bar: {groupWidth: "95%"},
                legend: { position: "none" },
              };
              var chart = new google.visualization.ColumnChart(document.getElementById("cumul_chart"));
              chart.draw(view, options);
          }
          </script>




            <!--Div that will hold the pie chart-->
          <div id="columnchart_values" style="width: 100%; height: 300px;"></div>

          <div id="cumul_chart" style="width: 100%; height: 300px;"></div>
          <br>
          <h4>Статистики</h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Статистика</th>
              <th scope="col">Значение</th>
            </tr>
          </thead>
          <tbody>
          {% for i in statistics %}
            <tr>
              <th scope="row">{{ i[0] }}</th>
              <td>{{ i[1] }}</td>
              <td>{{ i[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-3 ml-auto">
          <br>
          <div class="sticky-top" style="top:80px;">
          <h4>Связи</h4>
            {% for i in pairs %}
              <a href="/pair/{{ i[6] }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-primary">{{ i[2] }} и {{ i[3] }}</h5>
                </div>
                  <p class="mb-1">{{ i[0] }}, {{ i[1] }}</p>
              </a>
            {% endfor %}
          <br>

              <h4 >Ассоциации</h4>
                <a class="btn btn-outline-secondary " href="/associations/{{ measure[0][0] }}">
                    <i class="fas fa-pencil-alt"></i>Изменить
                </a>
              {% for i in now_associations %}
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1 text-primary">{{ i[1] }}</h6>
                    </div>
                      <p class="mb-1">{{ i[2] }}, {{ i[3] }}</p>
                {% endfor %}
          </div>

      </div>

    </div>

    <br>
    <br>
    {% else %}
        Данных пока нет ((((
        <img src="https://static9.depositphotos.com/1594920/1086/i/450/depositphotos_10868487-stock-photo-female-owl-and-a-owlet.jpg">
    {% endif %}
{% endblock %}