{% extends 'layout.html' %}

{% block body %}
    <a class="text-secondary" href="/data_area/{{ the_measure[0][3] }}">{{ the_measure[0][22] }}</a><br>
    &#8595;
    <h1>{{ the_measure[0][2] }}</h1>
    <p>{{ the_measure[0][1] }}, Качественные данные</p>
    {% if data %}
    <div class="row">

      <div class="col-md-9">
          <br>
          <h4>График распределения</h4>
            {{ data }}
          <!--Load the AJAX API-->
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                      var data = new google.visualization.DataTable();
                      data.addColumn('number', 'X');
                      data.addColumn('number', 'Частота');
                      data.addColumn('number', 'Вероятность');

                      data.addRows(
                        {{ data }}
                      );



                      var options = {
                        vAxis: {
                            gridlines: {color: '#414951'}
                        },
                        hAxis: {
                            gridlines: {count: 0},
                        },
                        chartArea: {
                            left:0,
                            top:0,
                            width:'1000%',
                            height:'100%'
                        },
                        bar: {
                            gap: 1
                        },
                        colors: ['#fff', '#28a745'],
                        dataOpacity: 0.8,

                        legend: {
                            position: 'none'
                        },
                        height: 380,
                        backgroundColor: {
                            fill:'#343A40'
                        }
                      };

                      var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

                      chart.draw(data, options);

            }
            </script>

            <!--Div that will hold the pie chart-->
            <div id="chart_div"></div>

      </div>

      <div class="col-md-3 ml-auto">
          <br>

      </div>


    </div>

    <br>
    <br>
    {% else %}
        Данных пока нет ((((
        <img src="https://static9.depositphotos.com/1594920/1086/i/450/depositphotos_10868487-stock-photo-female-owl-and-a-owlet.jpg">
    {% endif %}
{% endblock %}