{% extends 'layout.html' %}

{% block body %}
<h1>Сложные связи</h1>
<h3>Сильные</h3>
<div class="list-group">
    {% for i in good %}
      <a href="data_area/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ i }}</h5>
        </div>
      </a>
    {% endfor %}
    </div>
<br>
<br>
<h3>Слабые</h3>
<div class="list-group">
    {% for i in norm %}
      <a href="data_area/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ i }}</h5>
        </div>
      </a>
    {% endfor %}
    </div>
<br>
<br>

<h3>Общие</h3>
<div class="list-group">
    {% for i in all %}
      <a href="data_area/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ i }}</h5>
        </div>
      </a>
    {% endfor %}
    </div>



{% endblock %}