{% extends 'layout.html' %}

{% block body %}
<h1>Отчёты</h1>
<br>
<a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Добавить отчет
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/add_simple_report" title="Данные выраженные в числах">Из исходных данных наборов данных</a>
    <a class="dropdown-item" href="/add_aggregation_report" title="Данные в текстовом виде">Основанный из агрегатов</a>
</div>
<hr>
<div class="list-group">
{% for i in list %}
  <a href="report/{{ i[0] }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-primary">{{ i[1] }}</h5>
    </div>
  </a>
{% endfor %}
</div>

</div>
</div>


{% endblock %}