{% extends 'layout.html' %}

{% block body %}
<h1>Отчёты</h1>
<br>
<a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Добавить отчет
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="/add_simple_report" title="Данные выраженные в числах">Из исходных данных наборов данных</a>
    <a class="dropdown-item" href="/add_aggregation_report" title="Данные в текстовом виде">Основанный из агрегатов</a>
</div>
<hr>
<div class="card-columns">


{% for i in list %}
    <a href="report?id={{ i[0] }}" >
       <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p>{{ i[1] }}</p>
                <small class="text-muted">
                  {{ i[2] }}
                </small>
            </blockquote>


      </div>
    </a>

{% endfor %}



</div>



{% endblock %}