{% extends 'layout.html' %}

{% block body %}
    <a class="text-secondary" href="/reports">Отчеты</a><br>
    &#8595;
    <div class="row">
      <div class="col-10">
          <h1>{{ report[0][1] }}</h1>
      </div>
    <div class="col-2">
      <form action="{{url_for('reports.delete_report', id=report[0][0])}}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
      </form>
    </div>
    </div>

    <p  class="lead">{{ report[0][2] }}</p>
    <a class="btn btn-outline-primary" href="/edit_report/{{ report[0][0] }}">
      <i class="fas fa-pencil-alt"></i> Редактировать
    </a>
{% if no_more_measures == False %}
    <a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Добавить параметр в отчёт
      </a>

      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

        {% for i in measurement_report_list %}
          <a class="dropdown-item" href="/add_measurement_report/{{ report[0][0] }}/{{ i[0] }}" title="Данные выраженные в числах">{{ i[2] }}</a>
        {% endfor %}

      </div>
          {% else  %}
          {% endif %}
    <hr>


<style>

td {
  border-bottom: 1px solid #fbfbfb;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;

}

td.int {
  background-image: -webkit-linear-gradient(right, #d49800, #d49844);
  background-image: -moz-linear-gradient(right, #d49800, #d49844);
  background-image: linear-gradient(right, #d49800, #d49844);
  background-position: left top;
}

td.blew {
  background-image: -webkit-linear-gradient(right, #249843, #249844);
  background-image: -moz-linear-gradient(right, #249834, #249844);
  background-image: linear-gradient(right, #249834, #249844);
  background-position: left top;
}

td:numb {
}


</style>

<script type="text/javascript">
var twoColComp = {
  init: function (){
    var tables = document.getElementsByTagName('table');

    for(var i = 0; i < tables.length; i++) {
      if (new RegExp('(^| )two-column-comp( |$)', 'gi').test(tables[i].className)){
         return;
      }

      var h = tables[i].clientHeight,
          t = tables[i].getBoundingClientRect().top,
          wT = window.pageYOffset || document.documentElement.scrollTop,
          wH = window.innerHeight;

      if(wT + wH > t + h/2){
         this.make(tables[i]);
       }
    }
  },

  make : function(el){

    var rows = el.getElementsByTagName('tr'),
        vals = [],
        max,
        percent;

    for(var x = 0; x < rows.length; x++) {
      var cells = rows[x].getElementsByClassName('numb');
      for(var y = 0; y < cells.length; y++){
        vals.push(parseInt(cells[y].innerHTML, 10));
      }
    }

    max = Math.max.apply( Math, vals );
    percent = 100/max;

    const columnsCount = cells.length;
    let maxValues = [];
    let percentValues = [];

    for(var x = 0; x < rows.length; x++) {
      maxValues.push([]);
      percentValues.push([]);
    }

    for(let count = 0; count < columnsCount; count++) {
      maxValues[count] = Math.max.apply( Math, vals.filter((value, index) => index%columnsCount === count));
      percentValues[count] = 100/maxValues[count];  // 100/Math.max.apply( Math, vals.filter((value, index) => index%columnsCount === count));

    }

    for(x = 0; x < rows.length; x++) {
      var cells = rows[x].getElementsByClassName('numb');
      for(var y = 0; y < cells.length; y++){
        var currNum = parseInt(cells[y].innerHTML, 10);
        cells[y].style.backgroundSize = percentValues[(y) % columnsCount] * currNum - 10 + "% 100%";
        cells[y].style.transitionDelay = x/20 + "s";
      }
    }

    el.className =+ " two-column-comp"
  }
}

window.onload = function(){
  twoColComp.init();
}

window.onscroll = function(){
  twoColComp.init();
}

</script>



<div class="row">
{{measurement_report_list}}
    {{ columns }}
  <div class="col-md-10">

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>



      <table class="table table-hover" style="width: 100%;">
        <tr>
            {% for i in columns %}
              <th><div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i[1] }}{{ i }}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Посмотреть</a>
                    <a class="dropdown-item" href="#">Изменить</a>
                    <div class="dropdown-divider"></div>
                      <div class="form-group">
                        <form action="{{url_for('reports.delete_measurement_report', measurement_report_id=i[0], report_id=report[0][0])}}" method="post">
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value=" Удалить" class="btn btn-link dropdown-item">
                          </form>
                      </div>
                  </div>
                </div>
                  </th>
            {% endfor %}
        </tr>
          {% for i in columns_to_simple_report %}
        <tr>
            {% for k in i %}
          <td class="numb int">{{ k }}</td>
            {% endfor %}
        </tr>
          {% endfor %}
      </table>
        <br>
      <br>
      <br>
      <br>


  </div>
  <div class="col-md-2">
    Фильтры
    <br>
    Пресеты
  </div>

  </div>
</div>

{% endblock %}
