{% extends 'layout.html' %}

{% block body %}
<style>
td {
  border-bottom: 1px solid #fbfbfb;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;

}
{% for i in styles %}
    td:nth-child({{ i[0]+1 }}) {
      background-image: -webkit-linear-gradient({{ i[1] }});
      background-image: -moz-linear-gradient({{ i[1] }});
      background-image: linear-gradient({{ i[1] }});
      background-position: left top;
    }
{% endfor %}

td:numb {
}
</style>

    <a class="text-secondary" href="/reports">Отчеты</a><br>
    &#8595;
    <div class="row">
      <div class="col-10">
          <h1>{{ report[0][1] }}</h1>
      </div>
    <div class="col-2">
        <a class="btn btn-link float-right text-danger" href="/delete_report/{{report[0][0]}}"><i class="far fa-trash-alt"></i></a>
    </div>
    </div>

    <p  class="lead">{{ report[0][2] }}</p>
    <a class="btn btn-outline-primary" href="/edit_report/{{ report[0][0] }}">
      <i class="fas fa-pencil-alt"></i> Редактировать
    </a>
{% if choises != [] %}
    <a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Добавить параметр в отчёт
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for i in choises %}
          <a class="dropdown-item" href="/add_measurement_report/{{ report[0][0] }}/{{ i[0] }}" title="Данные выраженные в числах">{{ i[2] }}</a>
        {% endfor %}
      </div>
          {% else  %}
          {% endif %}
    <hr>


<div class="row">
  <div class="col-md-10">
{% if columns != [] %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    {% if current_page != 1 %}
                      <li class="page-item" title="Первая страница"><a class="page-link" href="/simple_report?id={{ report[0][0] }}&page={{ 1 }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item" title="Предыдущая страница"><a class="page-link" href="/simple_report?id={{ report[0][0] }}&page={{ current_page-1 }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}"><i class="fas fa-angle-left"></i></a></li>
                    {% else  %}
                      <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                      {% endif %}

                      <li class="page-item disabled"><a class="page-link" href="#">{{current_page}} из {{ pages }}<span class="sr-only">(current)</span></a></li>

                      {% if current_page != pages %}
                    <li class="page-item" title="Следующая страница"><a class="page-link" href="/simple_report?id={{ report[0][0] }}&page={{ current_page+1 }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}"><i class="fas fa-angle-right"></i></a></li>
                    <li class="page-item" title="Последняя страница"><a class="page-link" href="/simple_report?id={{ report[0][0] }}&page={{ pages }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}"><i class="fas fa-angle-double-right"></i></a></li>
                    {% else  %}

                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                    <li class="page-item disabled"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                      {% endif %}
                  </ul>
                </nav>
            </ul>

              Всего строк:&nbsp;<span class="badge badge-secondary">{{count_data}}</span>&nbsp;&nbsp;
                <a class="btn btn-outline-primary" href="/simple_report_filter?id={{ report[0][0] }}&page={{ current_page }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}">
                      <i class="fas fa-filter"></i> Фильтровать
                    </a>


          </div>
        </nav>
      {% endif %}



      <table class="table table-hover" style="width: 100%;">
        <tr>
            {% for i in columns %}
              <th><div class="btn-group">
                  <button class="btn btn-light btn-sm dropdown-toggle text-truncate float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="max-width: 150px;" title="{{ i[1] }}">
                    {% if columns[order_by_column][2] == i[2] %}

                          {% if desc == 'True' %}
                            <i class="fas fa-long-arrow-alt-up"></i>
                          {% else  %}
                            <i class="fas fa-long-arrow-alt-down"></i>
                          {% endif %}

                      {% endif %}

                      {{ i[1] }}
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="/simple_report?id={{ report[0][0] }}&page={{ current_page }}&order_by_column={{ columns.index( i )  }}&desc=True{{ preset }}">Сортировать по убыванию</a>
                      <a class="dropdown-item" href="/simple_report?id={{ report[0][0] }}&page={{ current_page }}&order_by_column={{ columns.index( i ) }}&desc=False{{ preset }}">Сортировать по возрастанию</a>
                      <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/measure/{{ i[4] }}">Посмотреть</a>
                    <div class="dropdown-divider"></div>
                      <div class="form-group">
                        <form action="{{url_for('reports.delete_measurement_report', measurement_report_id=i[0], report_id=report[0][0])}}" method="post">
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value=" Убрать из отчета" class="btn btn-link dropdown-item">
                          </form>
                      </div>
                  </div>
                </div>

                  </th>
            {% endfor %}
        </tr>
          {% for i in data_to_simple_report %}
        <tr>
            {% for k in i %}
          <td class="numb">{{ k }}</td>
            {% endfor %}
        </tr>
          {% endfor %}
      </table>
        <br>
      <br>
      <br>
      <br>


  </div>
  <div class="col-md-2">
      <p>
    <a href="/simple_report?id={{ report[0][0] }}&page=1&order_by_column=0&desc=True">
                      <small>Без фильтра</small>
          </a>
      </p><hr>
        <table class="table table-hover" style="width: 100%;">
          {% for i in presets_to_report %}
           <tr>

               <td>

                   <div class="dropdown">
                      <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v text-secondary"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/simple_report_filter?id={{ report[0][0] }}&page={{ current_page }}&order_by_column={{ order_by_column }}&desc={{ desc }}{{ preset }}">Псомтреть содержание</a>
                        <a class="dropdown-item" href="#">Редактировать</a>
                          <div class="dropdown-divider"></div>
                          {% if report[0][7] == i[0] %}
                             <a class="dropdown-item" href="/delete_preset?report_id={{ report[0][0] }}&preset_id={{ i[0] }}&is_main=True">Удалить</a>
                          {% else  %}
                             <a class="dropdown-item" href="/delete_preset?report_id={{ report[0][0] }}&preset_id={{ i[0] }}&is_main=False">Удалить</a>
                          {% endif %}
                      </div>
                    </div>
               </td>
               <td><a href="/simple_report?id={{ report[0][0] }}{{ i[3] }}" ><small>{{ i[2] }}</small></a></td>

           </tr>
          {% endfor %}
         </table>

<br>


      <div>
          <p>
          <a class="btn btn-outline-primary" href="/add_preset_to_simple_report?id={{ report[0][0] }}&page=1&order_by_column={{ order_by_column  }}&desc={{ desc }}{{ preset }}">
                      Сохранить фильтр
          </a>
          </p>

          <p>
          <small class="text-muted">Количество строк на странице:</small>
          <br>
          {{ filter }}
          </p >
          <p class="text-truncate">
          <small class="text-muted">Пресет:</small>
          <br>


          </p>

      </div>
  </div>

  </div>
</div>
<script src="{{ url_for('static', filename='js/histogram.js') }}"  onload="twoColComp.init();"></script>
{% endblock %}
