{% extends 'layout.html' %}

{% block body %}
    <link href="{{ url_for('static', filename='css/columns.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/histogram.js') }}"></script>
    <a class="text-secondary" href="/reports">Отчеты</a><br>
    &#8595;
    <div class="row">
      <div class="col-10">
          <h1>{{ report[0][1] }}</h1>
      </div>
    <div class="col-2">
      <form action="{{url_for('reports.delete_report', id=report[0][0])}}" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value=" Удалить" class="btn btn-link float-right text-danger">
      </form>
    </div>
    </div>

    <p  class="lead">{{ report[0][2] }}</p>
    <a class="btn btn-outline-primary" href="/edit_report/{{ report[0][0] }}">
      <i class="fas fa-pencil-alt"></i> Редактировать
    </a>
{% if no_more_measures == False %}
    <a class="btn dropdown-toggle btn-secondary"   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Добавить параметр в отчёт
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for i in measurement_report_list %}
          <a class="dropdown-item" href="/add_measurement_report/{{ report[0][0] }}/{{ i[0] }}" title="Данные выраженные в числах">{{ i[2] }}</a>
        {% endfor %}
      </div>
          {% else  %}
          {% endif %}
    <hr>

<div class="row">
{{measurement_report_list}}
    {{ columns }}
  <div class="col-md-10">

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>



      <table class="table table-hover" style="width: 100%;">
        <tr>
            {% for i in columns %}
              <th><div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ i[1] }}{{ i }}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Посмотреть</a>
                    <a class="dropdown-item" href="#">Изменить</a>
                    <div class="dropdown-divider"></div>
                      <div class="form-group">
                        <form action="{{url_for('reports.delete_measurement_report', measurement_report_id=i[0], report_id=report[0][0])}}" method="post">
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" value=" Удалить" class="btn btn-link dropdown-item">
                          </form>
                      </div>
                  </div>
                </div>
                  </th>
            {% endfor %}
        </tr>
          {% for i in columns_to_simple_report %}
        <tr>
            {% for k in i %}
          <td class="numb int">{{ k }}</td>
            {% endfor %}
        </tr>
          {% endfor %}
      </table>
        <br>
      <br>
      <br>
      <br>


  </div>
  <div class="col-md-2">
    Фильтры
    <br>
    Пресеты
  </div>

  </div>
</div>
{% endblock %}
